.rightBar{
    flex: 3.5;
    margin: 35px 0;
    padding: 0 10px;
}







.RightbarInfo{
    margin-top: -10px;
}
.RightbarInfoItem{
    margin-bottom: 10px;
}
.RightbarInfoKey{
    color: #555;
    margin-right: 5px;
    font-weight: 500;
}
.RightbarInfoValu{
    color: #778899;
    font-weight: 300;
}
.RightbarTitle{
    font-size: 18px;
}
.RightbarFollowings{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}
